<%- include("../partials/head.ejs") %>

<%- include("../partials/nav.ejs") %>

    <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/create" class="btn btn-success">New Article</a>

        <% articles.forEach(article=>{  %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%=  article.title %> </h4>
                    <div class="card-subtitle text-muted mb-2"><%=  article.createdAt.toLocaleDateString() %></div>
                    <div class="card-text mb-2"><%= article.description %> </div>
                    <a href="/articles/<%=  article.id %>" >read more...</a>
                </div>
            </div>
        <% }) %> 
    </div>

<%- include("../partials/footer.ejs") %>
